{% extends 'portal.html' %}
{% load django_tables2 %}
{% load bootstrap3 %}


{% render_table table 'django_tables2/bootstrap.html' %}
{% block content %}
    <div class="container">
        <button class="btn btn-info" data-toggle="modal" data-target="#addInsuranceProvider-modal">Add new Insurance Provider</button>
        <div class="modal" id="addInsuranceProvider-modal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header" id="modal-header">
                        <h4 class="modal-title" id="modal-title">
                        Add a new Insurance Provider
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" style="margin-right: 15%; margin-top: -2%;">×</button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <!-- form here -->
                        <form action="addInsuranceProvider" method="post">
                            {% csrf_token %}
                            <input type="text" id="insuranceProvider" name="insuranceProvider" placeholder="Name of the Provider" required></input><br><br>
                            <button class="btn btn-info" href="{% url 'addInsuranceProvider' %}" ><span class="glyphicon glyphicon-saved"></span> Add </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h1>Insurance Worklist</h1>
        {% render_table claimRequestTable %}
    </div>
{% endblock content %}